
  <div class="row kezdo h-auto">
    <div class="col-9 start h-auto">
      <div class="row">
        <h1>WELCOME  </h1>
      </div>
      <div class="row">
        <h1>TO</h1>
      </div>
      <div class="row">
        <h1>THE FORGERY</h1>
      </div>
    </div>
    <div class="col-3 h-auto" >

      <div class="row">
        <div class="col-12 text-center ">
          <h3 class="purple">Login</h3>
        </div>
      </div>
      <form [formGroup]="loginFormGroup">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="login">Email</label>
              <input type="text" class="form-control" id="login" formControlName="login" required>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" formControlName="password" required>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class=" align-self-center btn purple" (click)="login()"
                  [disabled]="loginFormGroup.invalid">Login
          </button>
        </div>

        <div class=" text-center login">
          <button type="button" class=" align-self-center btn purple" (click)="showRegisterForm()">Don't have an
            Acount?
          </button>
        </div>
      </form>

      <div class="regist" *ngIf="showRegisterFormBool">
        <div class="row text-center">
          <div class="col-12 text-center "><h3 class="purple">Register</h3></div>
        </div>

        <form [formGroup]="registerGroup">
          <div class="row" *ngFor="let f of formArray">
            <div class="col-12">
              <div class="form-group">
                <label for="{{f.id}}">{{f.name}}</label>
                <input type="{{f.type}}" class="form-control" id="{{f.id}}" formControlName="{{f.id}}" required>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button type="button" class=" align-self-center btn purple" (click)="createUser()"
                    [disabled]="registerGroup.invalid">Register
            </button>
          </div>

        </form>
      </div>
      <div class="blank h-100">

      </div>
    </div>
  </div>



