.cubes{
  background-image: url('../../../assets/images/purple.jpg');
}
.purplebc{
background-color: red;
}
.littlemargin{
  margin-bottom: 2%;
  margin-top:1%;
}
.contain{
  object-fit: contain;
  width: 33%;
}
