<div class="container-fluid h-100">

  <div class="row h-100">

    <div class="col-md-1 col-1 h-100  cubes">
    <div class="row h-10">
    </div>
      <div class="row h-25">
        <div class="col-12 text-white  text-center" *ngFor="let i of charArray">
          <h1>{{i}}</h1>
        </div>
      </div>
    </div>
    <div class="col-md-10 col-10 h-100 purplebc">
      <div class="row h-50 text-white ">
        <div class="col-md-4 col-4 text-center purple flex" routerLink="project-settings">
          <div class="align-self-center margin">
            <i class="material-icons bigicon">
              accessibility
            </i>
            <h2>Jobs</h2>
          </div>

        </div>
        <div class="col-md-4 col-4 text-center purple flex">
          <div class="align-self-center margin">
            <i class="material-icons bigicon ">
              card_travel
            </i>
            <h2>Project</h2>
          </div>

        </div>
        <div class="col-md-4 col-4 text-center purple flex" routerLink="project-updates">

         <div class=" align-self-center margin" >
           <i class="material-icons bigicon ">
             cached
           </i>
           <h2>Updates</h2>
         </div>
        </div>
      </div>
      <div class="row h-50 text-white">
        <div class="col-md-4 col-4 text-center purple flex" routerLink="/hire">
          <div class="align-self-center margin">
            <i class="material-icons bigicon ">
              backspace
            </i>
            <h2>Exit</h2>
          </div>
        </div>

        <div class="col-md-4 col-4 text-center purple flex" routerLink="/hire">
         <div class="align-self-center margin">
           <i class="material-icons bigicon ">
             backspace
           </i>
           <h2>Exit</h2>
         </div>

        </div>

        <div class="col-md-4 col-4 text-center purple flex littlemargin">
          <div class="align-self-center margin">
            <i class="material-icons bigicon ">
              accessibility
            </i>
            <h2>Updates</h2>
          </div>

        </div>
      </div>


    </div>

    <div class="col-md-1 col-1 h-100 cubes">


    </div>

  </div>




</div>


