
.script {
  padding-top: 3%;
}
.card{
  padding-top: 2%;
}
.pad {
  padding-bottom: 3%;
}

.card-img-top {
  width: 100%;
  height: 10vw;
}
.applicants {
   width: 100%;
   height: 10vw;
   background-size: contain;
   background-repeat: no-repeat;
   margin:3%;
 }
.purple{
  background-image: url('../../../assets/images/purple.jpg');

}
.bigicon{

  font-size: 7vw;
}
.max {
  width: 100%;
}

.example-item {
  height: 250px;
}
.resbig{
  width:40%;
}
.res{
  width: 60%;
}
.padd{
  padding-top:5%;
}
.paddmore{
  padding-top:13%;
}
.flex{
  display: flex;
}
.margin{
  margin: 0 auto;

}
.margtop{
  margin-top:2%;
}
.cubes{
  background-image: url('../../../assets/images/purple.jpg');
}
.purplebc{

}
.margleft{
  margin-left:1%;
}
.margright{
  margin-right: 1%;
}
.h-10{
  height:5%;
}
