.padd{
  margin-top:2%;
}
.littlepadd{
  margin-top:2%;
}
.h-90{
  height:95%!important;
}
.container-fluid{
  width: 100%!important;

}
.h-85{
  height:85%!important;
}
.green {
  height: 100% !important;
}
.h-25{
  height: 25%;
}
form{
  width: 100%;
}
.contain{

  height: 100%;
  width: 100%;}
.flex{
  display: flex;
}
.margin{
  margin: 0 auto;
}
.col-md-1{
  background-color: darkcyan;
}
.col-md-8{
  margin-top:1%;
}
.h-15{
  height: 15%!important;
}


.h-40{
  height:40%!important;
}
.marg{
  margin-top:2%;
}
.margbottom{
  margin-top:2%;
}
.fullwidth{
  width: 100%;
}
.btn-purple {
  color: #fff;
  background-color: rebeccapurple;
  border-color: rebeccapurple;
}
.margin{
  margin:0 auto;
}
.h-90{
  height: 90%!important;
}
.padding{
  padding-top:1%;
}
