
.title{
  padding-bottom:2%;
}
.card-img-top {
  width: 100%;
  height: 10vw;
  object-fit: cover;
}
.padd{
  margin-top:2%;
}
.text-purple{
  color:purple;
}
.btn-danger {
  color: #fff;
  background-color: rebeccapurple;
  border-color: rebeccapurple;
}
.image{
  object-fit: cover;
  width: 100%;
  height: auto;
}
