<div class="container-fluid">
  <div class="row h-100 background">
    <div class="col-md-10 col-12 h-100">
      <div class="text-center text-purple title">
        <h1>Projects</h1>
      </div>
      <div class="row">
        <div class="col-sm-3 project"[@fade]  *ngFor="let p of projects;let i = index" (click)="openProject(i)"  routerLink="/selected-project/{{p.projectName}}"  >
          <div class="card">
            <img class="" src="{{p.media}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{p.projectName}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 h-100 col-12 text-purple">
      <div class="text-center">
        <h2>Query Forms</h2>
      </div>
      <form [formGroup]="queryForm">
        <div class="col-12">
          <div class="form-group">
            <label for="sel1">Category</label>
            <select class="form-control" formControlName="category" id="sel1">
              <option>Game developing</option>
              <option>Inventing</option>
              <option>Architecture</option>
              <option>Art</option>
              <option>Music making</option>
              <option>Pure fun</option>
              <option>Whatever</option>
              <option>other</option>
            </select>
          </div>
        </div>
      </form>
      <div class=" row text-center">
        <div class="col-12">
          <button class="btn-danger btn" (click)="getQueriedPosts()">
            Search!
          </button>
        </div>
      </div>
      <div class="row text-center padd">
        <div class="col-12">
          <button class="btn-danger btn" (click)="getEveryPost()">
            Reset
          </button>
        </div>
      </div>

    </div>
  </div>

</div>
