.middle{
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}
.purple{
  background-color: purple;
}
.card-img-top {
  width: 100%;

  object-fit: cover;
}
.padding{
  padding-bottom:2%;
}
