.padd{
  margin-top:5%;
}
.littlepadd{
  margin-top:2%;
}
.header{
  height: 20%!important;
  min-height: 20%!important;
  width: 100%!important;
}
.container-fluid{
  width: 100%!important;
  background-color: purple;
}
.green {
  height: 100% !important;
}
.good{
  background-image:url("../../../assets/images/redandblackgoodandthebad.png");
  background-size: contain;
  overflow: hidden;
  height: 100%!important;

}
.bad{
  background-image:url("../../../assets/images/redandblackgood.png");
  background-size: contain;
  overflow: hidden;
}
.h-25{
  height: 25%;
}
form{
  width: 100%;
}
.contain{
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.flex{
  display: flex;
}
