.header{
  height: 20%!important;
  min-height: 20%!important;
  width: 100%!important;
}
.green {
  height: 100% !important;
}
.h-25{
  height: 25%;
}
form{
  width: 100%;
}
.contain{
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.flex{
  display: flex;
}
