.cubes{
  background-image: url('../../../assets/images/purple.jpg');
}
.margin{
  margin:0 auto;
}
.padding{
  padding-top:1%;
}
.padding-big{
  margin-top:5%;
}
form{
  width: 100%;
}
.red{
  color:red;
}
.bard{
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.bardsmall{
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

.icons{
  font-size:12vw;
}
.small-icon{
  font-size: 4vw;
}
.h-33{
  height: 28%!important;
}

